.text-center {
    text-align: center !important;
}

.v-application--wrap {
    padding: 20px;
}

.register {
    &__user {
        position: absolute;
        width: calc(140% - 40px);
        background: red;
        left: 15px;
        height: 70%;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.6;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        border-radius: 4px;
    }
}

.quote {

    &__title,
    .v-card__text.quote__title {
        font-size: 26px;

        .emphasys {
            position: relative;
            display: inline;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 15px;
                background-color: $orange;
                z-index: -1;
            }
        }
    }
}

.tags {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        border-radius: 25px;
        border: 1px solid red;
        margin: 10px 7px;
        padding: 5px 10px;
        color: red;

        &:hover {
            cursor: pointer;
            background-color: red;
            color: white;
        }
    }

    &__selected {
        background-color: red;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: white;
            color: red;
        }
    }

    &__preferred {
        background-color: transparent;
        color: blue;
    }

    &__disabled {
        pointer-events: none;
        border: 1px solid gray;
        color: gray;
    }
}

.social {
    &__btn {
        display: flex;
        flex-direction: column;
        text-transform: none;
        align-items: center;

        &:hover {
            cursor: pointer;

            svg,
            g {
                fill: red;
            }
        }

        svg {
            fill: gray;
        }

        p {
            margin-top: 10px;
            color: red;
        }
    }
}


.bubble__tooltip {
    position: relative;
    background: transparent;
}

.bubble__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 25px;
    font-size: 18px;
}